* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-blue: hsl(229, 23%, 23%);
  --dark-gray-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
html {
  height: 100%;
  font-size: 18px;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100%;
  background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
  background-repeat: no-repeat;
  background-position: bottom 50vh right 50vw, left 50vw top 50vh;
  background-color: var(--dark-cyan);
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* ===Start Here=== */
main {
  background-color: white;
  width: min(85%, 350px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 5px 5px 16px -2px rgba(0, 0, 0, 0.14);
  box-shadow: 5px 5px 16px -2px rgba(0, 0, 0, 0.14);
}
#avatar {
  z-index: 2;
  position: relative;
  bottom: 50px;
  border-radius: 50%;
  border: 5px solid white;
}
.info {
  -webkit-margin-before: -2rem;
  margin-block-start: -2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info h1 {
  font-size: 1rem;
  -webkit-margin-after: 0.5rem;
  margin-block-end: 0.5rem;
  color: var(--very-dark-blue);
}
#age {
  -webkit-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
  font-weight: 400;
  color: var(--dark-gray-blue);
}
.info p {
  font-size: 0.8rem;
  color: var(--dark-gray);
}
hr {
  background-color: var(--dark-gray);
  opacity: 20%;
  width: 100%;
  height: 1px;
  border: none;
  margin-block: 1.5rem;
}
.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem;
}
.stats h2 {
  font-size: 1rem;
  color: var(--very-dark-blue);
  -webkit-margin-after: 0.2rem;
  margin-block-end: 0.2rem;
  font-weight: 700;
}
.stats p {
  font-size: 0.6rem;
  letter-spacing: 1px;
  color: var(--dark-gray-blue);
}
